<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Verification</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div>
        <h1>EmployeeMaster Email Verification</h1>
        <div th:if="${message == 'success'}">
            <h3>Email verified successfully</h3>
            <p>For redirecting to home page <a href="http://localhost:3000">click here</a></p>
        </div>
        <div th:if="${message == 'cannot-verify'}">
            <h3 class="error-message">Cannot verify Email</h3>
        </div>
        <div th:if="${message == 'error'}">
            <h3 class="error-message">Unexpected Error occurred</h3>
        </div>
    </div>
</body>
</html>
